.item {
  display: block;
  margin: 0;
  padding: 0;
}

.imgBackground {
  width: 100%;
  display: block;
  margin-bottom: 0px;
}

.caption {
  width: 100%;
  position: absolute;
  left: 0;
  top: 176px;
}

.holder {
  width: 765px;
  margin: 0 auto;
  color: white;
}

.title {
  font: 300 30px/30px "Oswald", sans-serif;
  color: white;
  text-transform: uppercase;
  display: block;
  text-align: center;
  padding: 10px 0;
}

.title2 {
  display: block;
  text-align: center;
  font: 400 30px/30px "Dancing Script", cursive;
  color: white;
}

.titleIndex {
  font: 400 48px/40px "Dancing Script", cursive;
  display: block;
  text-align: center;
  padding: 0 0 15px 0;
  color: #c5a059;
}

.h1Index {
  font-size: 46px;
  line-height: 35px;
  font: 400 46px/35px "Montserrat", sans-serif;
  color: #fff;
  margin: 0 0 15px 0;
  display: block;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
}

.bIndex {
  font-size: 113px;
  color: #c5a059;
  font-weight: 700;
  display: block;
  text-align: center;
  position: relative;
  z-index: -1;
}
