.Container {
  /* background-color: black; */
  display: block;
  /* position: relative; */
}

.AboutContent {
  border-top: 1px solid #c5a059;
  float: left;
  width: 100%;
  background: #000 url(http://themelooper.com/html/jz/images/footer-bg.jpg)
    no-repeat center bottom;
  padding: 10px 0;
  color: white;
  position: relative;
  z-index: 1;
}

.AboutContent p,
h3 {
  margin: 0 10px;
}

.map {
  background-color: white;
}

.iframe {
  margin: 10px;
  padding: 2px;
  width: 600px;
  height: 417px;
  border: none;
}
