.ContactContainer {
	float: left;
	width: 100%;
	height: 100%;
	background: #000 url(https://themelooper.com/html/jz/images/welcome-bg.jpg) no-repeat center bottom;
	color: white;
	position: relative;
}

.ContactContent {
	margin: 0 20px;
}
