.image {
	height: 120px;
	vertical-align: middle;
}

.footer {
	border-top: 1px solid #c5a059;
	float: left;
	width: 100%;
	background: #000 url(https://themelooper.com/html/jz/images/footer-bg.jpg) no-repeat center bottom;
	padding: 20px 0;
	color: white;
	position: relative;
	left: 0;
	bottom: 0;
	z-index: 1;
	display: flex;
	flex-direction: row;
}

.footerLogo {
	display: block;
	width: 100%;
	text-align: center;
	margin-bottom: 70px;
}

.a {
	text-decoration: none;
	color: #c5a059;
}

.a:hover {
	color: #c5a059;
}

.title {
	text-align: right;
	font-size: 16px;
}

.content {
	color: #c5a059;
	font-size: 24;
	font-family: "Oswald sans-serif";
}

#footer address {
	float: left;
	width: 100%;
	text-align: center;
	margin: 0 0 60px 0;
}
#footer address p {
	font: 400 24px "Open Sans", sans-serif;
	text-align: center;
	margin: 0;
}
#footer address p span {
	display: block;
	color: #fff;
}
#footer address p a {
	text-decoration: none;
}
#footer strong.copyrights {
	display: block;
	text-align: center;
	font: 400 18px/18px "Open Sans", sans-serif;
	color: #ccc;
	padding: 0 0 50px 0;
}
#footer strong.copyrights a {
	text-decoration: none;
}
.footer-social {
	float: left;
	width: 100%;
}
.footer-social ul {
	padding: 0;
	margin: 0;
	list-style: none;
	display: block;
	text-align: center;
}
.footer-social ul li {
	display: inline-block;
	padding: 0 14px;
}
.footer-social ul li a {
	float: left;
	width: 50px;
	height: 50px;
	font-size: 24px;
	text-align: center;
	line-height: 50px;
	color: #222;
	text-decoration: none;
	border: 2px solid rgba(0, 0, 0, 0);
}
.footer-social ul li a:hover {
	text-decoration: none;
	background: none;
	border: 2px solid;
	color: #fff;
}

@media (max-width: 499px) {
	.image {
		height: 70px;
		margin-left: 15px;
	}
	.title {
		display: block;
		margin: 0;
		padding: 0;
	}
	.content {
		padding: 0;
	}
}
